.organization-structure{
	display:	none;
}
@include breakpoint($breakpoint-small){
	.organization-structure-chart{
		display: none;
	}
	.organization-structure{
		display: block;

		.organization-structure__content{
			display: block;
		}

		border-left: 2px solid $secondary-color;
		padding-left: 10px;
		li{
			list-style: none;
			margin-bottom: 20px;
			ul{
				margin-left: 13px;
				border-left: 2px solid darken($border-color-1,50%);
				padding-left: 13px;
				li{
					ul{
						border-left: 1px solid $border-color-1;
					}
				}
			}
		}
	}
}
.organization-structure__content{
	display: none;
	@extend .clearfix;
	margin:20px auto 10px auto;
	max-width: 200px;
	.organization-structure__content__picture{
		display: block;
		@include float-left;
		width: 38px;
		height: 38px;
		margin-right: 10px;
		@include border-radius(100%);

		img{
			width: 100%;
			height: 100%;
			@include border-radius(100%);
		}
	}
	.organization-structure__content__description{
		display: block;
		@include calc(width,"100% - 48px");
		@include float-right;
		text-align: left;
		p{
			margin:0;
			&.organization-structure__content__description__name{
				font-weight: 600;
				font-size: $p-size;
			}
			font-size: 10px;
		}
	}

	@include breakpoint($breakpoint-large){
		text-align: center;
		.organization-structure__content__picture{
			float: none;
			margin: auto;
			margin-bottom: 10px;
		}
		.organization-structure__content__description{
			width: 100%;
			text-align: center;
		}
	}
	@include breakpoint($breakpoint-small){
		text-align: left;
		margin: 20px 0 10px 0;
		.organization-structure__content__picture{
			@include float-left;
			margin-right: 10px;
			margin-bottom: 0;
		}
		.organization-structure__content__description{
			@include calc(width,"100% - 48px");
			text-align: left;
		}
	}
}
div.orgChart {
    width: 100%;
    padding:0;
    margin:0;
}

div.orgChart h2 {
    font-size: 	$h4-size;
    margin: 0;
}
div.orgChart h4 {
    font-size: 	$h4-size;
    margin: 0;
}
div.orgChart h3 {
    font-size: 	$h3-size;
    margin: 0;
}

div.orgChart ul {
    list-style  : none;
    font-size: 	$p-size;
}

div.orgChart ul.stack,
div.orgChart ul.stack ul {
    text-align            : left;
}

div.orgChart table {
    width                 : 100%;
}

div.orgChart tr.lines td.line {
    width                 : 2px;
    height                : 20px;
}

div.orgChart tr.lines td.top {
    border-top            : 2px solid darken($border-color-1,50%);;
}

div.orgChart tr.lines td.left {
    border-right          : 2px solid darken($border-color-1,50%);;
}

div.orgChart tr.lines td.right {
    border-left           : 2px solid darken($border-color-1,50%);;
}

div.orgChart td {
    text-align            : center;
    vertical-align        : top;
    padding               : 0px 4px;
}

div.orgChart div.node {
    cursor                : pointer;
    border                : 2px solid darken($border-color-1,50%);
    display               : inline-block;
    padding               : 10px;
    width: 	100%;
    min-height: 90px;
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
    background-color      : $background-color-1;
    line-height: 120%;
    @include border-radius(2px);
}

div.orgChart div.hasChildren {
    border                : 2px solid $secondary-color;
    display               : inline-block;
    padding               : 10px;
    cursor: pointer;
    width: 	100%;
    min-height: 90px;
    height: auto;
    padding-top:20px;
    padding-bottom:20px;
    background-color      : $background-color-1;
    line-height: 120%;
}

div.orgChart.interactive div.hasChildren {
    cursor                : pointer;
}

div.orgChart div.node.hover {
    background-color      : white;
}

div.orgChart div.adjunct.node {
    position              : absolute;
    margin-top            : 8px;
    margin-left           : -110px;
    width                 : 80px;
    height                : 40px;
    background-color      : #efefef;
}

div.orgChart div.adjunct-link {
    display               : inline-block;
    position              : absolute;
    margin-left           : -20px;
    margin-top            : 25px;
    width                 : 20px;
    border                : 1px dashed black;
}

div.orgChart ul.stack li{
	display: block;
	padding: 10px;
	border                : 1px solid $border-color-1;
    line-height: 120%;
    @include border-radius(2px);
    cursor: pointer;

	h4{
		font-family: $font-2;
		font-size: $p-size;
		font-weight: bold;
	}
}
